:root {
    --color-1: white;
    --color-2: rgb(200, 36, 36);
    --color-3: rgb(155, 228, 96);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body {
    background-image: url("./images/redox_02.png");
    background-repeat: repeat;
}

header {
    background-color: var(--color-1);
    width: 100%;
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

h1 {
    font-weight: 700;
    font-size: 2em;
}
.logo1 {
    color: var(--color-2);
    
}
.logo2 {
    color: var(--color-3);
    
}
a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section {
    display: flex;
    justify-content: space-around;
}

.words {
    height: 200px;
    width: 400px;
}

h2 {
    font-size: 4em;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

h4 {
    font-size: 1.5em;
    font-weight: 600;
}

.pics {
    display: flex;
    flex-direction: row;
    margin-top: 70px;

}

.image {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
}

#oats {
    background-image: url("./images/oats.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 300px;
}

#pasta {
    background-image: url("./images/pasta.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 300px;
}

#shrimp {
    background-image: url("./images/shrimp.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 300px;
}

.imgword1 {
    width:fit-content;
    height: 50px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
}

.imgword2 {
    width: 150px;
    height: 50px;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
}